*{
    font-size: 16px;
}
nav img{
    width: 50px;
    padding-right: 10px;
}
.imagenPrincipal{
    width: 626px;
    margin: 20px auto;

 }

.resultado {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 60px; /* Igual a la altura del footer */
}
.resultado img{
    max-width: 250px;

}
#textoParrafos p{
    font-size: 14px;
}

#detalleTecnico{
    padding-left: 0;
}
footer {
    bottom: 0;
    width: 100%;
    height: 60px; /* Ajusta la altura del footer según sea necesario */
}


 @media(max-width:450px){
    .imagenPrincipal{
        width: 350px;
        margin:20px auto;
    }
    .imagenPrincipal img{
        width: 350px;
     }
     .resultado{
        height: 130vh;
     }

 }
 